#title{
  	-fx-font: normal bold 32.0pt sans-serif;
  	-fx-alignment: center;
}

#intro{
  	-fx-alignment: center;
}

#loginScreen{
	-fx-padding: 40.0;
  	-fx-font: normal bold 20.0pt sans-serif;
    -fx-alignment: center;
}

#searchScreen{
	-fx-margin: 40.0;
	-fx-padding: 40.0;
  	-fx-font: normal bold 20.0pt sans-serif;
}

#resultScreen{
	-fx-padding: 40.0;
  	-fx-font: normal bold 20.0pt sans-serif;
}

.button { 
	-fx-font: normal bold 18.0px sans-serif;
	-fx-padding: 10.0 10.0 10.0 10.0;
}

.label{
	-fx-font: normal bold 18.0px sans-serif;
	-fx-padding: 10.0 10.0 10.0 10.0;
}

.choice-box{
	-fx-min-width:250.0px;
}

.check-box{
	-fx-font: normal bold 12.0pt sans-serif;
	-fx-padding: 10.0;
}

.text-field{
	-fx-font: normal bold 18.0px sans-serif;
	-fx-min-width:250.0px;
}
